[appconfig]
devicename = Replace with Device name
wlan_enabled = true
wlan_sid = Replace with WLAN SID
wlan_pwd = Replace with WLAN password
mqtt_enabled = true
mqtt_server = Replace with MQTT Server IP
mqtt_port = 1883
mqtt_username = Replace with MQTT Host IP
mqtt_password = Replace with MQTT Password/Access Token
voice_enabled = false
voice_server = Replace with HA server
voice_port = 8123
voice_accesstoken = Replace with HA API auth token
numberleds = Replace with number of Neopixels